@import "../plugins/fontawesome/css/all.min.css";
/* Fonts */
@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-VariableFont_wght.woff") format("woff");
  src: url("../fonts/Exo-VariableFont_wght.woff2") format("woff2");
}
/* Colors */
/* Variables */
/* General */
*::selection {
  background: #7214d2;
  color: #eeeeee;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Exo";
  font-size: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: 2px solid #dadada;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  width: 100%;
  font-weight: 600;
  color: #1e1e1e;
}
input::placeholder {
  color: #b2b2b2;
}
input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-color: #5d0cb0;
}

/* Bootstrap */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  padding-top: 0 !important;
  padding-left: 0 !important;
}

/* Layout */
header {
  background-color: white;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #5d0cb0;
}
header nav .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .menu .menu-item {
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  color: #1e1e1e;
}
header nav .menu .menu-item:hover {
  background-color: #eeeeee;
}
header nav .menu .menu-hover {
  cursor: pointer;
}
header nav .menu .menu-hover:after {
  background-color: transparent;
  position: absolute;
  top: 2rem;
  margin-left: -0.5rem;
  width: 7rem;
  height: 1rem;
  content: "";
}
header nav .menu .menu-hover:hover + .menu-dropdown {
  display: flex;
}
header nav .menu .menu-dropdown {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0.5rem;
  position: absolute;
  top: 3rem;
  right: 0;
  padding: 0.5rem;
  display: none;
  flex-direction: column;
}
header nav .menu .menu-dropdown a {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  color: #1e1e1e;
}
header nav .menu .menu-dropdown a .dropdown-item {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
header nav .menu .menu-dropdown a .dropdown-item .title {
  font-weight: 600;
  font-size: 1rem;
  color: #5d0cb0;
}
header nav .menu .menu-dropdown a .dropdown-item .description {
  font-size: 14px;
  color: #7a7a7a;
}
header nav .menu .menu-dropdown a:hover {
  background-color: #eeeeee;
}
header nav .menu .menu-dropdown:hover {
  display: flex;
}
header nav .menu .menu-button {
  background-color: #5d0cb0;
  color: white;
}
header nav .menu .menu-button:hover {
  background-color: #7214d2;
}

footer {
  background-color: #eeeeee;
}
footer .footer-container {
  padding: 3rem 0 1.5rem 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
footer .footer-container .footer-logo {
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-logo .logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #5d0cb0;
}
footer .footer-container .footer-logo p {
  margin: 1rem 0 0 0;
  width: 58%;
  font-size: 1rem;
  color: #1e1e1e;
}
footer .footer-container .footer-content ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: start;
}
footer .footer-container .footer-content ul li {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-content ul li p {
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  font-weight: 600;
  color: #5d0cb0;
}
footer .footer-container .footer-content ul li a {
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  color: #1e1e1e;
}
footer .footer-container .footer-content ul li a:hover {
  background-color: #dedede;
}
footer .footer-container .footer-content ul li .social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5d0cb0;
}
footer .footer-container .footer-other {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .footer-other ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
footer .footer-container .footer-other ul li {
  color: #1e1e1e;
}
footer .footer-container .footer-other ul li a {
  font-weight: 300;
  font-size: 14px;
  color: #1e1e1e;
}
footer .footer-container .footer-other ul li a:hover {
  text-decoration: underline;
}
footer .footer-container .footer-other ul li p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  color: #1e1e1e;
}
footer .footer-container .footer-other .language-select {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  width: 12%;
}
footer .footer-container .footer-other .language-select:focus {
  border-color: transparent;
}

/* Home Page */
.banner {
  background: url("../images/banner.png") bottom center no-repeat;
  padding-top: 6rem;
  height: 64vh;
}
.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .banner-content h1 {
  font-weight: 600;
  font-size: 4rem;
  color: #5d0cb0;
  text-align: center;
}
.banner .banner-content p {
  font-weight: 600;
  font-size: 2rem;
  color: #1e1e1e;
  text-align: center;
}
.banner .banner-content .banner-button {
  background-color: #5d0cb0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
}
.banner .banner-content .banner-button:hover {
  background-color: #7214d2;
}

.partners {
  display: flex;
  align-items: center;
  height: calc(36vh - 64px);
}
.partners .partners-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.partners .partners-content h3 {
  margin-bottom: 1rem;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
  color: #5d0cb0;
  text-align: center;
}
.partners .partners-content p {
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.25rem;
  color: #1e1e1e;
  text-align: center;
}
.partners .partners-content img {
  height: 56px;
}

/* Pricing Page */
.pricing {
  padding: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing h1 {
  margin-bottom: 1rem;
  width: 25%;
  font-weight: 600;
  font-size: 2rem;
  color: #5d0cb0;
  text-align: center;
}
.pricing p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: #1e1e1e;
  text-align: center;
}
.pricing .package-switcher {
  border: 1px solid #eeeeee;
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 0.25rem;
}
.pricing .package-switcher button {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  color: #1e1e1e;
}
.pricing .package-switcher .active {
  background-color: #5d0cb0;
  border-color: #5d0cb0;
  color: #ffffff;
}
.pricing .pricing-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pricing .pricing-content .package {
  background-color: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 0.75rem;
  padding: 2rem;
  width: 28%;
  display: flex;
  flex-direction: column;
}
.pricing .pricing-content .package .title {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #5d0cb0;
}
.pricing .pricing-content .package .description {
  margin: 0;
  font-size: 1rem;
  text-align: left;
}
.pricing .pricing-content .package .price {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 2.5rem;
  color: #5d0cb0;
}
.pricing .pricing-content .package .price .per {
  font-weight: 400;
  font-size: 1rem;
  color: #1e1e1e;
}
.pricing .pricing-content .package a {
  background-color: #5d0cb0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.pricing .pricing-content .package a:hover {
  background-color: #7214d2;
}
.pricing .pricing-content .package ul {
  margin-top: 1rem;
  padding: 0;
}
.pricing .pricing-content .package ul li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.pricing .pricing-content .package ul li .category {
  font-weight: 600;
  color: #5d0cb0;
}
.pricing .pricing-content .package ul li p {
  margin: 0 0 0 0.5rem;
  font-size: 14px;
  color: #1e1e1e;
  text-align: left;
}
.pricing .pricing-content .popular {
  border-color: #5d0cb0;
}
.pricing .plans-table {
  margin-top: 4rem;
}
.pricing .plans-table h3 {
  margin-bottom: 2rem;
  font-weight: 600;
  color: #5d0cb0;
}
.pricing .plans-table .plan-table {
  display: flex;
}
.pricing .plans-table .plan-table div {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.pricing .plans-table .plan-table div h5 {
  margin: 0;
  font-weight: 600;
  color: #1e1e1e;
}
.pricing .plans-table .plan-table div p {
  margin: 0;
  font-size: 1rem;
  text-align: left;
}
.pricing .plans-table hr {
  border-top: 1px solid #1e1e1e;
  width: 100%;
}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 92% !important;
  }
}

/*# sourceMappingURL=style.css.map */
