@import "../plugins/fontawesome/css/all.min.css";

/* Fonts */
@font-face {
    font-family: "Exo";
    src: url("../fonts/Exo-VariableFont_wght.woff") format('woff');
    src: url("../fonts/Exo-VariableFont_wght.woff2") format('woff2');
}

$font : "Exo";

/* Colors */
$primary: #5d0cb0;
$secondary: #7214d2;
$tertiary: #00b3be;
$four: #F1C307;
$input: #dadada;
$placeholder: #b2b2b2;
$darkgray: #ababab;
$gray: #eeeeee;
$light: #ffffff;
$dark: #1e1e1e;

/* Variables */
$i : !important;

/* General */
*::selection {
    background: $secondary;
    color: $gray;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font;
    font-size: 100%;
    overflow-x: hidden;
    color: $dark;
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    user-select: none;
}

input {
    border: 2px solid $input;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    width: 100%;
    font-weight: 600;
    color: $dark;
    &::placeholder {
        color: $placeholder;
    }
    &:focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
        outline: none;
        border-color: $primary;
    }
}

/* Bootstrap */
.container-fluid {
    margin: 0 $i;
    padding: 0 $i;
}

.container {
    padding-top: 0 $i;
    padding-left: 0 $i;
}

/* Layout */
header {
    background-color: white;
    padding: .75rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            font-weight: 600;
            font-size: 1.5rem;
            color: $primary;
        }
        .menu {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .menu-item {
                background-color: $light;
                border-radius: .5rem;
                border: none;
                outline: none;
                padding: .5rem;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 1rem;
                color: $dark;
                &:hover {
                    background-color: $gray;
                }
            }
            .menu-hover {
                cursor: pointer;
                &:after {
                    background-color: transparent;
                    position: absolute;
                    top: 2rem;
                    margin-left: -.5rem;
                    width: 7rem;
                    height: 1rem;
                    content: "";
                }
                &:hover + .menu-dropdown {
                    display: flex;
                }
            }
            .menu-dropdown {
                background-color: $light;
                border: 1px solid $gray;
                border-radius: .5rem;
                position: absolute;
                top: 3rem;
                right: 0;
                padding: .5rem;
                display: none;
                flex-direction: column;
                a {
                    border-radius: .5rem;
                    padding: .5rem 1.5rem;
                    display: flex;
                    align-items: center;
                    color: $dark;
                    .dropdown-item {
                        margin-left: 1rem;
                        display: flex;
                        flex-direction: column;
                        .title {
                            font-weight: 600;
                            font-size: 1rem;
                            color: $primary;
                        }
                        .description {
                            font-size: 14px;
                            color: #7a7a7a;
                        }
                    }
                    &:hover {
                        background-color: $gray;
                    }
                }
                &:hover {
                    display: flex;
                }
            }
            .menu-button {
                background-color: $primary;
                color: white;
                &:hover {
                    background-color: $secondary;
                }
            }
        }
    }
}

footer {
    background-color: $gray;
    .footer-container {
        padding: 3rem 0 1.5rem 0 $i;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        .footer-logo {
            display: flex;
            flex-direction: column;
            .logo {
                font-weight: 600;
                font-size: 1.5rem;
                color: $primary;
            }
            p {
                margin: 1rem 0 0 0;
                width: 58%;
                font-size: 1rem;
                color: $dark;
            }
        }
        .footer-content {
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: start;
                align-items: start;
                li {
                    margin-left: 6rem;
                    display: flex;
                    flex-direction: column;
                    p {
                        margin-bottom: 1.25rem;
                        padding: .5rem;
                        font-weight: 600;
                        color: $primary;
                    }
                    a {
                        border-radius: .5rem;
                        margin-bottom: .25rem;
                        padding: .5rem;
                        color: $dark;
                        &:hover {
                            background-color: #dedede;
                        }
                    }
                    .social-media-link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $primary;
                    }
                }
            }
        }
        .footer-other {
            margin-top: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                li {
                    color: $dark;
                    a {
                        font-weight: 300;
                        font-size: 14px;
                        color: $dark;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    p {
                        margin: 0;
                        font-weight: 300;
                        font-size: 14px;
                        color: $dark;
                    }
                }
            }
            .language-select {
                -webkit-box-shadow: none $i;
                -moz-box-shadow: none $i;
                -o-box-shadow: none $i;
                box-shadow: none $i;
                width: 12%;
                &:focus {
                    border-color: transparent;
                }
            }
        }
    }
}

/* Home Page */
.banner {
    background: url("../images/banner.png") bottom center no-repeat;
    padding-top: 6rem;
    height: 64vh;
    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-weight: 600;
            font-size: 4rem;
            color: $primary;
            text-align: center;
        }
        p {
            font-weight: 600;
            font-size: 2rem;
            color: $dark;
            text-align: center;
        }
        .banner-button {
            background-color: $primary;
            border-radius: .5rem;
            padding: .5rem;
            margin-top: 1rem;
            font-weight: 600;
            font-size: 1.25rem;
            color: white;
            &:hover {
                background-color: $secondary;
            }
        }
    }
}

.partners {
    display: flex;
    align-items: center;
    height: calc(36vh - 64px);
    .partners-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        h3 {
            margin-bottom: 1rem;
            width: 100%;
            font-weight: 600;
            font-size: 2rem;
            color: $primary;
            text-align: center;
        }
        p {
            margin-bottom: 2rem;
            width: 100%;
            font-size: 1.25rem;
            color: $dark;
            text-align: center;
        }
        img {
            height: 56px;
        }
    }
}

/* Pricing Page */
.pricing {
    padding: 3rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        margin-bottom: 1rem;
        width: 25%;
        font-weight: 600;
        font-size: 2rem;
        color: $primary;
        text-align: center;
    }
    p {
        margin-bottom: 2rem;
        font-size: 1.25rem;
        color: $dark;
        text-align: center;
    }
    .package-switcher {
        border: 1px solid $gray;
        border-radius: 2rem;
        margin-bottom: 2rem;
        padding: .25rem;
        button {
            background-color: $light;
            border: 1px solid $light;
            border-radius: 2rem;
            padding: .5rem .75rem;
            font-size: 14px;
            color: $dark;
        }
        .active {
            background-color: $primary;
            border-color: $primary;
            color: $light;
        }
    }
    .pricing-content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .package {
            background-color: $light;
            border: 2px solid $gray;
            border-radius: .75rem;
            padding: 2rem;
            width: 28%;
            display: flex;
            flex-direction: column;
            .title {
                margin-bottom: 1rem;
                font-weight: 600;
                font-size: 1.5rem;
                color: $primary;
            }
            .description {
                margin: 0;
                font-size: 1rem;
                text-align: left;
            }
            .price {
                margin: 1rem 0;
                font-weight: 700;
                font-size: 2.5rem;
                color: $primary;
                .per {
                    font-weight: 400;
                    font-size: 1rem;
                    color: $dark;
                }
            }
            a {
                background-color: $primary;
                border-radius: .5rem;
                padding: .5rem 1rem;
                font-weight: 600;
                color: $light;
                text-align: center;
                &:hover {
                    background-color: $secondary;
                }
            }
            ul {
                margin-top: 1rem;
                padding: 0;
                li {
                    margin-bottom: .5rem;
                    display: flex;
                    align-items: center;
                    .category {
                        font-weight: 600;
                        color: $primary;
                    }
                    p {
                        margin: 0 0 0 .5rem;
                        font-size: 14px;
                        color: $dark;
                        text-align: left;
                    }
                }
            }
        }
        .popular {
            border-color: $primary;
        }
    }
    .plans-table {
        margin-top: 4rem;
        h3 {
            margin-bottom: 2rem;
            font-weight: 600;
            color: $primary;
        }
        .plan-table {
            display: flex;
            div {
                display: flex;
                flex-direction: column;
                justify-content: end;
                h5 {
                    margin: 0;
                    font-weight: 600;
                    color: $dark;
                }
                p {
                    margin: 0;
                    font-size: 1rem;
                    text-align: left;
                }
            }
        }
        hr {
            border-top: 1px solid $dark;
            width: 100%;
        }
    }
}

/* About Us Page */
.about-us {
    .about-us-banner {
        padding: 3rem 0 .5rem 0 $i;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
            font-weight: 600;
            color: $primary;
        }
        img {
            width: 450px;
            height: 450px;
        }
    }
    .about-us-values {
        background-color: $primary;
        .values-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $light;
            text-align: center;
            h1 {
                margin-bottom: 1rem;
                font-weight: 600;
                font-size: 2rem;
            }
            p {
                margin: 0;
                width: 50%;
            }
        }
        .values {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: start;
            .value {
                width: 28%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $light;
                .value-icon {
                    width: 200px;
                    height: 200px;
                }
                .value-details {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: $light;
                    text-align: center;
                    h3 {
                        margin-bottom: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .about-us-how-we-work {
        text-align: center;
        h1 {
            margin-bottom: 1rem;
            font-weight: 600;
            font-size: 2rem;
            color: $primary;
        }
        p {
            margin-bottom: 2rem;
            width: 60%;
        }
        .articles {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article {
                border: 2px solid $gray;
                border-radius: .5rem;
                width: 24%;
                display: flex;
                flex-direction: column;
                transition: .25s;
                .article-detail {
                    border-top: 2px solid $gray;
                    padding: 1rem 1.5rem;
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    h6 {
                        margin-bottom: .75rem;
                        font-weight: 600;
                        color: $dark;
                    }
                    p {
                        margin: 0;
                        width: 100%;
                        font-weight: 300;
                        color: $dark;
                    }
                }
                &:hover {
                    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                    -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                    -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
                }
            }
        }
    }
}

/* Careers Page */
.careers {
    .careers-content {
        .careers-banner {
            background-color: $primary;
            padding: 2rem 0;
            .careers-banner-content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                div {
                    &:last-child {
                        display: flex;
                        justify-content: end;
                    }
                    width: 48%;
                    color: $light;
                    h6 {
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                    h1 {
                        font-weight: 700;
                    }
                    p {
                        margin-bottom: 1.5rem;
                        width: 80%;
                    }
                    a {
                        background-color: $light;
                        border-radius: .5rem;
                        padding: .5rem 1rem;
                        font-weight: 600;
                        color: $primary;
                        transition: .4s;
                        &:hover {
                            background-color: $gray;
                        }
                    }
                    img {
                        width: 360px;
                        height: 360px;
                    }
                }
            }
        }
        .careers-advantages {
            padding: 2rem 2rem 0 2rem $i;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                width: 45%;
                font-weight: 600;
                color: $primary;
                text-align: center;
            }
            .career-advantages {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .career-advantage {
                    margin-bottom: 2rem;
                    width: 30%;
                    display: flex;
                    color: $dark;
                    h6 {
                        font-weight: 600;
                    }
                }
            }
        }
        .careers-process {
            padding: 4rem 0 $i;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                width: 100%;
                font-weight: 600;
                color: $primary;
                text-align: center;
            }
            .process-steps {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: start;
                .process-step {
                    width: 22%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &:before {
                        background-color: $primary;
                        position: absolute;
                        top: 22px;
                        left: 8rem;
                        width: 80%;
                        height: 5px;
                        content: "";
                        z-index: -1;
                    }
                    .step {
                        background-color: $primary;
                        border: 2px solid $primary;
                        border-radius: .5rem;
                        padding: 1.25rem 1rem 1rem 1rem;
                        margin-bottom: 1rem;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span {
                            font-size: 1.25rem;
                            font-weight: 600;
                            color: $light;
                        }
                    }
                    .process-title {
                        margin-bottom: .5rem;
                        font-size: 1rem;
                        font-weight: 600;
                        color: $primary;
                        text-align: center;
                    }
                    .process-detail {
                        margin: 0;
                        color: $dark;
                        text-align: center;
                    }
                }
            }
        }
        .careers-opportunities {
            padding: 0 0 4rem 0 $i;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                font-weight: 600;
                color: $primary;
            }
            .careers-header {
                border-bottom: 2px solid $gray;
                padding-bottom: 2rem;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                p {
                    margin: 0;
                    font-size: 1.25rem;
                }
                select {
                    border: 2px solid $darkgray;
                    outline: 0;
                    width: 200px;
                    &:focus {
                        outline: 0;
                        border-color: $darkgray;
                        -webkit-box-shadow: none $i;
                        -moz-box-shadow: none $i;
                        -o-box-shadow: none $i;
                        box-shadow: none $i;
                    }
                }
            }
            .career-opportunities {
                width: 100%;
                .opportunity {
                    border-bottom: 1px solid $gray;
                    padding: 1rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    transition: .4s;
                    .opportunity-details {
                        .opportunity-title {
                            font-weight: 600;
                            font-size: 2rem;
                            color: $dark;
                        }
                        .opportunity-tags {
                            display: flex;
                            span {
                                margin-right: .5rem;
                                color: $dark;
                                &:last-child {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .opportunity-apply {
                        font-weight: 600;
                        color: $dark;
                    }
                    &:hover {
                        .opportunity-details {
                            .opportunity-title {
                                color: $primary;
                            }
                        }
                        .opportunity-apply {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

/* Other Pages */
.other-page-content {
    padding: 4rem 0;
    .other-page-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        h1 {
            margin-bottom: 1rem;
            font-weight: 600;
            font-size: 2rem;
            color: $primary;
            text-align: left;
        }
        h4 {
            margin-bottom: 1rem;
            font-weight: 600;
            font-size: 1.5rem;
            color: $primary;
            text-align: left;
        }
        p {
            font-size: 1rem;
            color: $dark;
            text-align: left;
            a {
                color: $primary;
                text-decoration: underline;
            }
        }
        > a {
            background-color: $primary;
            border-radius: .5rem;
            padding: .5rem 1rem;
            font-weight: 600;
            font-size: 1rem;
            color: $light;
            text-align: center;
            &:hover {
                background-color: $secondary;
            }
        }
        ul {
            margin-bottom: 2rem;
            padding: 0 1rem;
            list-style: disc;
            li {
                p {
                    margin-bottom: .25rem;
                }
                &::marker {
                    color: $primary;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .container {
        max-width: 92% $i;
    }
}
