@import "../plugins/fontawesome/css/all.min.css";
/* Fonts */
@font-face {
  font-family: "Exo";
  src: url("../fonts/Exo-VariableFont_wght.woff") format("woff");
  src: url("../fonts/Exo-VariableFont_wght.woff2") format("woff2");
}
/* Colors */
/* Variables */
/* General */
*::selection {
  background: #7214d2;
  color: #eeeeee;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Exo";
  font-size: 100%;
  overflow-x: hidden;
  color: #1e1e1e;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  user-select: none;
}

input, textarea {
  border: 2px solid #dadada;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  width: 100%;
  font-weight: 600;
  color: #1e1e1e;
}
input::placeholder, textarea::placeholder {
  color: #b2b2b2;
}
input:focus, textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-color: #5d0cb0;
}

textarea {
  resize: none;
}

input[type=checkbox] {
  accent-color: #5d0cb0;
}

/* Bootstrap */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  padding-top: 0 !important;
  padding-left: 0 !important;
}

/* Layout */
.cookie {
  background-color: rgb(255, 255, 255);
  border: 1px solid #eeeeee;
  border-radius: 0.5rem;
  margin: 0 0 0.5rem 0.5rem;
  padding: 1rem;
  width: 28%;
  display: none;
}
.cookie .cookie-content {
  display: flex;
}
.cookie .cookie-content .cookie-consent {
  margin-left: 2rem;
}
.cookie .cookie-content .cookie-consent h4 {
  font-weight: 600;
  color: #5d0cb0;
}
.cookie .cookie-content .cookie-consent .cookie-settings {
  padding-top: 0.5rem;
  display: none;
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting h6 {
  font-weight: 600;
  font-size: 1rem;
  color: #5d0cb0;
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting .switch {
  margin-top: -8px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting .switch input {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting .switch input:checked + .slider {
  background-color: #5d0cb0;
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting .switch input:focus + .slider {
  box-shadow: 0 0 1px #5d0cb0;
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting .switch input:checked + .slider:before {
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting .switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting .switch .slider.round {
  border-radius: 1.5rem;
}
.cookie .cookie-content .cookie-consent .cookie-settings .cookie-setting .switch .slider.round:before {
  border-radius: 50%;
}
.cookie .cookie-content .cookie-consent button {
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}
.cookie .cookie-content .cookie-consent .cookie-allow {
  background-color: #5d0cb0;
  border: 2px solid #5d0cb0;
  margin-right: 0.25rem;
  color: #ffffff;
}
.cookie .cookie-content .cookie-consent .cookie-allow:hover {
  background-color: #7214d2;
  border-color: #7214d2;
}
.cookie .cookie-content .cookie-consent .cookie-selection {
  background-color: #ffffff;
  border: 2px solid #5d0cb0;
  color: #5d0cb0;
}
.cookie .cookie-content .cookie-consent .cookie-selection:hover {
  background-color: #f5f5f5;
}
.cookie .cookie-content .cookie-consent .cookie-customize {
  background-color: #ffffff;
  border: 2px solid #5d0cb0;
  color: #5d0cb0;
}
.cookie .cookie-content .cookie-consent .cookie-customize:hover {
  background-color: #f5f5f5;
}

header {
  background-color: #ffffff;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #5d0cb0;
}
header nav .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .menu .menu-item {
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  color: #1e1e1e;
}
header nav .menu .menu-item:hover {
  background-color: #eeeeee;
}
header nav .menu .menu-hover {
  cursor: pointer;
}
header nav .menu .menu-hover:after {
  background-color: transparent;
  position: absolute;
  top: 2rem;
  margin-left: -0.5rem;
  width: 7rem;
  height: 1rem;
  content: "";
}
header nav .menu .menu-hover:hover + .menu-dropdown {
  display: flex;
}
header nav .menu .menu-dropdown {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 0.5rem;
  position: absolute;
  top: 3rem;
  right: 0;
  padding: 0.5rem;
  display: none;
  flex-direction: column;
}
header nav .menu .menu-dropdown a {
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  color: #1e1e1e;
}
header nav .menu .menu-dropdown a .dropdown-item {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
header nav .menu .menu-dropdown a .dropdown-item .title {
  font-weight: 600;
  font-size: 1rem;
  color: #5d0cb0;
}
header nav .menu .menu-dropdown a .dropdown-item .description {
  font-size: 14px;
  color: #7a7a7a;
}
header nav .menu .menu-dropdown a:hover {
  background-color: #eeeeee;
}
header nav .menu .menu-dropdown:hover {
  display: flex;
}
header nav .menu .menu-button {
  background-color: #5d0cb0;
  color: #ffffff;
}
header nav .menu .menu-button:hover {
  background-color: #7214d2;
}

.newsletter {
  background-color: #5d0cb0;
}
.newsletter .newsletter-content {
  padding: 2rem 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .newsletter-content h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
}
.newsletter .newsletter-content h6 {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}
.newsletter .newsletter-content .newsletter-form {
  width: 40%;
}
.newsletter .newsletter-content .newsletter-form form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.newsletter .newsletter-content .newsletter-form form input {
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding-right: 8rem;
}
.newsletter .newsletter-content .newsletter-form form button {
  background-color: #5d0cb0;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  transition: 0.4s;
}
.newsletter .newsletter-content .newsletter-form form button:hover {
  background-color: #7214d2;
}

footer {
  background-color: #eeeeee;
}
footer .footer-container {
  padding: 3rem 0 1.5rem 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
footer .footer-container .footer-logo {
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-logo .logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #5d0cb0;
}
footer .footer-container .footer-logo p {
  margin: 1rem 0 0 0;
  width: 58%;
  font-size: 1rem;
  color: #1e1e1e;
}
footer .footer-container .footer-content ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: start;
}
footer .footer-container .footer-content ul li {
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-content ul li p {
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  font-weight: 600;
  color: #5d0cb0;
}
footer .footer-container .footer-content ul li a {
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  color: #1e1e1e;
}
footer .footer-container .footer-content ul li a:hover {
  background-color: #dedede;
}
footer .footer-container .footer-content ul li .social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5d0cb0;
}
footer .footer-container .footer-other {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-container .footer-other ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
footer .footer-container .footer-other ul li {
  color: #1e1e1e;
}
footer .footer-container .footer-other ul li a {
  font-weight: 300;
  font-size: 14px;
  color: #1e1e1e;
}
footer .footer-container .footer-other ul li a:hover {
  text-decoration: underline;
}
footer .footer-container .footer-other ul li p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  color: #1e1e1e;
}
footer .footer-container .footer-other .language-select {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  width: 12%;
}
footer .footer-container .footer-other .language-select:focus {
  border-color: transparent;
}

/* Authentication Pages */
.authentication {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authentication .logo-container {
  height: 64px;
  display: flex;
  align-items: center;
}
.authentication .logo-container .logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: #5d0cb0;
}
.authentication .authentication-container {
  height: calc(100dvh - 64px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.authentication .authentication-container .authentication-content {
  width: 35%;
}
.authentication .authentication-container .authentication-content h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #5d0cb0;
}
.authentication .authentication-container .authentication-content form .form-item {
  width: 100%;
}
.authentication .authentication-container .authentication-content form .form-item label {
  margin: 0 0 0.25rem 0.25rem;
  font-weight: 500;
  color: #1e1e1e;
}
.authentication .authentication-container .authentication-content form .form-item input {
  width: 100%;
}
.authentication .authentication-container .authentication-content form .form-item a {
  color: #5d0cb0;
  text-decoration: underline;
}
.authentication .authentication-container .authentication-content form .form-item button {
  background: #5d0cb0;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 1.25rem 1.5rem;
  width: 100%;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  transition: 0.4s;
}
.authentication .authentication-container .authentication-content form .form-item button:hover {
  background-color: #7214d2;
}
.authentication .authentication-container .authentication-content form .form-item .disclaimer {
  font-size: 14px;
}
.authentication .authentication-container .authentication-content form .form-item .forget-your-password {
  font-size: 14px;
  color: #1e1e1e;
}
.authentication .authentication-container .authentication-content form .form-item .sign-up {
  font-size: 14px;
  text-align: center;
}

/* Home Page */
.banner {
  background: url("../images/banner.png") bottom center no-repeat;
  padding-top: 6rem;
  height: 64vh;
}
.banner .banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner .banner-content h1 {
  font-weight: 600;
  font-size: 4rem;
  color: #5d0cb0;
  text-align: center;
}
.banner .banner-content p {
  font-weight: 600;
  font-size: 2rem;
  color: #1e1e1e;
  text-align: center;
}
.banner .banner-content .banner-button {
  background-color: #5d0cb0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
}
.banner .banner-content .banner-button:hover {
  background-color: #7214d2;
}

.partners {
  display: flex;
  align-items: center;
  height: calc(36vh - 64px);
}
.partners .partners-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.partners .partners-content h3 {
  margin-bottom: 1rem;
  width: 100%;
  font-weight: 600;
  font-size: 2rem;
  color: #5d0cb0;
  text-align: center;
}
.partners .partners-content p {
  margin-bottom: 2rem;
  width: 100%;
  font-size: 1.25rem;
  color: #1e1e1e;
  text-align: center;
}
.partners .partners-content img {
  height: 56px;
}

/* Pricing Page */
.pricing {
  padding: 3rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pricing h1 {
  margin-bottom: 1rem;
  width: 25%;
  font-weight: 600;
  font-size: 2rem;
  color: #5d0cb0;
  text-align: center;
}
.pricing p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  color: #1e1e1e;
  text-align: center;
}
.pricing .package-switcher {
  border: 1px solid #eeeeee;
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 0.25rem;
}
.pricing .package-switcher button {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  color: #1e1e1e;
}
.pricing .package-switcher .active {
  background-color: #5d0cb0;
  border-color: #5d0cb0;
  color: #ffffff;
}
.pricing .pricing-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pricing .pricing-content .package {
  background-color: #ffffff;
  border: 2px solid #eeeeee;
  border-radius: 0.75rem;
  padding: 2rem;
  width: 28%;
  display: flex;
  flex-direction: column;
}
.pricing .pricing-content .package .title {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #5d0cb0;
}
.pricing .pricing-content .package .description {
  margin: 0;
  font-size: 1rem;
  text-align: left;
}
.pricing .pricing-content .package .price {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 2.5rem;
  color: #5d0cb0;
}
.pricing .pricing-content .package .price .per {
  font-weight: 400;
  font-size: 1rem;
  color: #1e1e1e;
}
.pricing .pricing-content .package a {
  background-color: #5d0cb0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.pricing .pricing-content .package a:hover {
  background-color: #7214d2;
}
.pricing .pricing-content .package ul {
  margin-top: 1rem;
  padding: 0;
}
.pricing .pricing-content .package ul li {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.pricing .pricing-content .package ul li .category {
  font-weight: 600;
  color: #5d0cb0;
}
.pricing .pricing-content .package ul li p {
  margin: 0 0 0 0.5rem;
  font-size: 14px;
  color: #1e1e1e;
  text-align: left;
}
.pricing .pricing-content .popular {
  background-color: #5d0cb0;
  border-color: #5d0cb0;
}
.pricing .pricing-content .popular .title {
  color: #ffffff;
}
.pricing .pricing-content .popular .description {
  color: #ffffff;
}
.pricing .pricing-content .popular .price {
  color: #ffffff;
}
.pricing .pricing-content .popular .price .per {
  color: #ffffff;
}
.pricing .pricing-content .popular a {
  background-color: #ffffff;
  color: #5d0cb0;
}
.pricing .pricing-content .popular a:hover {
  background-color: #eeeeee;
}
.pricing .pricing-content .popular ul li .category {
  color: #ffffff;
}
.pricing .pricing-content .popular ul li svg {
  color: #ffffff;
}
.pricing .pricing-content .popular ul li p {
  color: #ffffff;
}
.pricing .plans-table {
  margin-top: 4rem;
}
.pricing .plans-table h3 {
  margin-bottom: 2rem;
  font-weight: 600;
  color: #5d0cb0;
}
.pricing .plans-table .plan-table {
  display: flex;
}
.pricing .plans-table .plan-table div {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.pricing .plans-table .plan-table div h5 {
  margin: 0;
  font-weight: 600;
  color: #1e1e1e;
}
.pricing .plans-table .plan-table div p {
  margin: 0;
  font-size: 1rem;
  text-align: left;
}
.pricing .plans-table hr {
  border-top: 1px solid #1e1e1e;
  width: 100%;
}

/* About Us Page */
.about-us .about-us-banner {
  padding: 3rem 0 0.5rem 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-us .about-us-banner h1 {
  font-weight: 600;
  color: #5d0cb0;
}
.about-us .about-us-banner img {
  width: 450px;
  height: 450px;
}
.about-us .about-us-values {
  background-color: #5d0cb0;
}
.about-us .about-us-values .values-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.about-us .about-us-values .values-description h1 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
.about-us .about-us-values .values-description p {
  margin: 0;
  width: 50%;
}
.about-us .about-us-values .values {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.about-us .about-us-values .values .value {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.about-us .about-us-values .values .value .value-icon {
  width: 200px;
  height: 200px;
}
.about-us .about-us-values .values .value .value-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-align: center;
}
.about-us .about-us-values .values .value .value-details h3 {
  margin-bottom: 1rem;
  font-weight: 700;
}
.about-us .about-us-how-we-work {
  text-align: center;
}
.about-us .about-us-how-we-work h1 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
  color: #5d0cb0;
}
.about-us .about-us-how-we-work p {
  margin-bottom: 2rem;
  width: 60%;
}
.about-us .about-us-how-we-work .articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-us .about-us-how-we-work .articles .article {
  border: 2px solid #eeeeee;
  border-radius: 0.5rem;
  width: 24%;
  display: flex;
  flex-direction: column;
  transition: 0.25s;
}
.about-us .about-us-how-we-work .articles .article .article-detail {
  border-top: 2px solid #eeeeee;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.about-us .about-us-how-we-work .articles .article .article-detail h6 {
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: #1e1e1e;
}
.about-us .about-us-how-we-work .articles .article .article-detail p {
  margin: 0;
  width: 100%;
  font-weight: 300;
  color: #1e1e1e;
}
.about-us .about-us-how-we-work .articles .article:hover {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  -o-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

/* Careers Page */
.careers .careers-content .careers-banner {
  background-color: #5d0cb0;
  padding: 2rem 0;
}
.careers .careers-content .careers-banner .careers-banner-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.careers .careers-content .careers-banner .careers-banner-content div {
  width: 48%;
  color: #ffffff;
}
.careers .careers-content .careers-banner .careers-banner-content div:last-child {
  display: flex;
  justify-content: end;
}
.careers .careers-content .careers-banner .careers-banner-content div h6 {
  font-weight: 400;
  text-transform: uppercase;
}
.careers .careers-content .careers-banner .careers-banner-content div h1 {
  font-weight: 700;
}
.careers .careers-content .careers-banner .careers-banner-content div p {
  margin-bottom: 1.5rem;
  width: 80%;
}
.careers .careers-content .careers-banner .careers-banner-content div a {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #5d0cb0;
  transition: 0.4s;
}
.careers .careers-content .careers-banner .careers-banner-content div a:hover {
  background-color: #eeeeee;
}
.careers .careers-content .careers-banner .careers-banner-content div img {
  width: 360px;
  height: 360px;
}
.careers .careers-content .careers-advantages {
  padding: 2rem 2rem 0 2rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.careers .careers-content .careers-advantages h3 {
  width: 45%;
  font-weight: 600;
  color: #5d0cb0;
  text-align: center;
}
.careers .careers-content .careers-advantages .career-advantages {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.careers .careers-content .careers-advantages .career-advantages .career-advantage {
  margin-bottom: 2rem;
  width: 30%;
  display: flex;
  color: #1e1e1e;
}
.careers .careers-content .careers-advantages .career-advantages .career-advantage h6 {
  font-weight: 600;
}
.careers .careers-content .careers-process {
  padding: 4rem 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.careers .careers-content .careers-process h3 {
  width: 100%;
  font-weight: 600;
  color: #5d0cb0;
  text-align: center;
}
.careers .careers-content .careers-process .process-steps {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.careers .careers-content .careers-process .process-steps .process-step {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.careers .careers-content .careers-process .process-steps .process-step:before {
  background-color: #5d0cb0;
  position: absolute;
  top: 22px;
  left: 8rem;
  width: 80%;
  height: 5px;
  content: "";
  z-index: -1;
}
.careers .careers-content .careers-process .process-steps .process-step .step {
  background-color: #5d0cb0;
  border: 2px solid #5d0cb0;
  border-radius: 0.5rem;
  padding: 1.25rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.careers .careers-content .careers-process .process-steps .process-step .step span {
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
}
.careers .careers-content .careers-process .process-steps .process-step .process-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: #5d0cb0;
  text-align: center;
}
.careers .careers-content .careers-process .process-steps .process-step .process-detail {
  margin: 0;
  color: #1e1e1e;
  text-align: center;
}
.careers .careers-content .careers-opportunities {
  padding: 0 0 4rem 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.careers .careers-content .careers-opportunities h3 {
  font-weight: 600;
  color: #5d0cb0;
}
.careers .careers-content .careers-opportunities .careers-header {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.careers .careers-content .careers-opportunities .careers-header p {
  margin: 0;
  font-size: 1.25rem;
}
.careers .careers-content .careers-opportunities .careers-header select {
  border: 2px solid #ababab;
  outline: 0;
  width: 200px;
}
.careers .careers-content .careers-opportunities .careers-header select:focus {
  outline: 0;
  border-color: #ababab;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
.careers .careers-content .careers-opportunities .career-opportunities {
  width: 100%;
}
.careers .careers-content .careers-opportunities .career-opportunities .opportunity {
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}
.careers .careers-content .careers-opportunities .career-opportunities .opportunity .opportunity-details .opportunity-title {
  font-weight: 600;
  font-size: 2rem;
  color: #1e1e1e;
}
.careers .careers-content .careers-opportunities .career-opportunities .opportunity .opportunity-details .opportunity-tags {
  display: flex;
}
.careers .careers-content .careers-opportunities .career-opportunities .opportunity .opportunity-details .opportunity-tags span {
  margin-right: 0.5rem;
  color: #1e1e1e;
}
.careers .careers-content .careers-opportunities .career-opportunities .opportunity .opportunity-details .opportunity-tags span:last-child {
  margin-right: 0;
}
.careers .careers-content .careers-opportunities .career-opportunities .opportunity .opportunity-apply {
  font-weight: 600;
  color: #1e1e1e;
}
.careers .careers-content .careers-opportunities .career-opportunities .opportunity:hover .opportunity-details .opportunity-title {
  color: #5d0cb0;
}
.careers .careers-content .careers-opportunities .career-opportunities .opportunity:hover .opportunity-apply {
  color: #5d0cb0;
}

/* Contact Us Page */
.contact-us .contact-us-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-us .contact-us-banner h6 {
  font-weight: 400;
  color: #1e1e1e;
  text-transform: uppercase;
}
.contact-us .contact-us-banner h1 {
  font-weight: 700;
  color: #5d0cb0;
}
.contact-us .contact-us-banner p {
  margin-bottom: 1.5rem;
  width: 64%;
  color: #1e1e1e;
}
.contact-us .contact-us-banner a {
  background-color: #5d0cb0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #ffffff;
  transition: 0.4s;
}
.contact-us .contact-us-banner a:hover {
  background-color: #7214d2;
}
.contact-us .contact-us-banner img {
  width: 420px;
  height: 420px;
}
.contact-us .contact-us-information {
  background-color: #5d0cb0;
}
.contact-us .contact-us-information .contact-us-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
}
.contact-us .contact-us-information .contact-us-elements .contact-us-element {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-us .contact-us-information .contact-us-elements .contact-us-element .element-icon {
  background-color: #ffffff;
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #5d0cb0;
}
.contact-us .contact-us-information .contact-us-elements .contact-us-element .element-detail {
  color: #ffffff;
  text-align: center;
}
.contact-us .contact-us-faq {
  padding: 4rem 0 1rem 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-us .contact-us-faq h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #5d0cb0;
  text-align: center;
}
.contact-us .contact-us-faq .accordion {
  max-width: 75%;
  min-width: 75%;
}
.contact-us .contact-us-faq .accordion .accordion-item .accordion-header .accordion-button {
  background-color: #ffffff !important;
  outline: none;
  padding: 1.5rem 0.5rem;
  font-size: 1.25rem;
  color: #1e1e1e;
}
.contact-us .contact-us-faq .accordion .accordion-item .accordion-header .accordion-button:focus {
  background-color: #ffffff !important;
  box-shadow: none;
  outline: none;
}
.contact-us .contact-us-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-us .contact-us-form form {
  margin: 4rem 0;
  padding: 4rem 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.contact-us .contact-us-form form h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: #5d0cb0;
}
.contact-us .contact-us-form form h6 {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #1e1e1e;
}
.contact-us .contact-us-form form .form-element {
  width: 48%;
}
.contact-us .contact-us-form form .form-element label {
  margin: 0 0 0.5rem 0.25rem;
  font-weight: 500;
  color: #1e1e1e;
}
.contact-us .contact-us-form form .form-element #terms {
  width: 1rem;
  height: 1rem;
}
.contact-us .contact-us-form form .form-element a {
  color: #5d0cb0;
  text-decoration: underline;
}
.contact-us .contact-us-form form .form-element button {
  background-color: #5d0cb0;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  transition: 0.4s;
}
.contact-us .contact-us-form form .form-element button:hover {
  background-color: #7214d2;
}

/* Other Pages */
.other-page-content {
  padding: 4rem 0;
}
.other-page-content .other-page-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.other-page-content .other-page-container h1 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
  color: #5d0cb0;
  text-align: left;
}
.other-page-content .other-page-container h4 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: #5d0cb0;
  text-align: left;
}
.other-page-content .other-page-container p {
  font-size: 1rem;
  color: #1e1e1e;
  text-align: left;
}
.other-page-content .other-page-container p a {
  color: #5d0cb0;
  text-decoration: underline;
}
.other-page-content .other-page-container > a {
  background-color: #5d0cb0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
}
.other-page-content .other-page-container > a:hover {
  background-color: #7214d2;
}
.other-page-content .other-page-container ul {
  margin-bottom: 2rem;
  padding: 0 1rem;
  list-style: disc;
}
.other-page-content .other-page-container ul li p {
  margin-bottom: 0.25rem;
}
.other-page-content .other-page-container ul li::marker {
  color: #5d0cb0;
}

/* Responsive */
@media only screen and (max-width: 1199px) {
  /* Layout */
  .newsletter .newsletter-content .newsletter-form {
    width: 50%;
  }
  /* Other Pages */
  .other-page-content .other-page-container {
    width: 75%;
  }
}
@media only screen and (max-width: 991px) {
  /* Layout */
  .newsletter .newsletter-content {
    flex-direction: column;
    justify-content: center;
  }
  .newsletter .newsletter-content h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .newsletter .newsletter-content h6 {
    text-align: center;
  }
  .newsletter .newsletter-content .newsletter-form {
    margin-top: 0.5rem;
    width: 75%;
  }
  /* Other Pages */
  .other-page-content .other-page-container h1 {
    font-size: 1.5rem;
  }
  .other-page-content .other-page-container h4 {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  /* Layout */
  .newsletter .newsletter-content .newsletter-form {
    width: 100%;
  }
  /* Other Pages */
  .other-page-content .other-page-container {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  /* Bootstrap */
  .container {
    max-width: 92% !important;
  }
}

/*# sourceMappingURL=style.css.map */
